*~
*.o
*.hi
cabal-dev
dist
Thumbs.db
Desktop.ini
.DS_Store

dist-*
cabal-dev
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
